body{
	background-color: #f6f6f6;
}

.container{
	position: relative;
}

.content{
	padding-top: 10px;
}

.header{
	text-align: center;
}

.header span{
	font-size: 13px;
	color: #555;	
	text-shadow: 0px 1px 0px #fff;
}

.sidebar-wrapper{
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #fafafa;
	height: 100%;
	width: 100%;
	border-left: 1px solid #3c5059;
	padding: 0 0 0 1px;
}
.sidebar{
	height: 100%;
	border-left: 3px solid #3c5059;
	padding: 10px 1px;
	width: 300px;
}


.nav-list li a{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;

	transition: background-color .2s;
	-moz-transition: background-color .2s;
	-webkit-transition: background-color .2s;
	-o-transition: background-color .2s;
	
}

.btn-group.open .dropdown-menu a{
	border-radius: 0;
}

h1{
	color: #3c5059;
	margin: 20px 0px 20px 0;
}

ul.bullet-points{
	padding: 0;
	margin: 0;
}
ul.bullet-points li{
	list-style: none;
	font-size: 16px;
	margin:10px 0;
	color: #000;
	text-shadow: 0px 1px 0px rgba(255,255,255,.5);
	background-image: url('images/checkmark.png');
	background-position: left middle;
	background-repeat: no-repeat;
	padding: 0 0 0 22px;
}

table.bullet-points-table td{
	text-align: center;
}
table.bullet-points-table td ul{
	width: 80%;
	margin: 0 auto;
}
table.bullet-points-table td ul li{
	text-align: left;
}